body {
    background-color: #3ba86e;
}

::-webkit-scrollbar {
    display: none;
}

.btn-mainmenu, .btn-nhc-anew, .btn-nhc-load, .btn-nhc-high, .btn-nhc-cred {
    width: 200px;
    height: 50px;
    font-family: JosefinSans-Light;
    font-size: 18px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #7ff;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-mainmenu-hover, .btn-hc-anew, .btn-hc-load, .btn-hc-high, .btn-hc-cred {
    width: 200px;
    height: 50px;
    font-family: JosefinSans-Light;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #5dd;
    border: 1px solid #7ff;
    border-radius: 10px;
}

#mainmenu {
    width: 100%; 
    height: 100%; 
    vertical-align: middle; 
    align-items: center; 
    text-align: center; 
}

@font-face { 
    font-family: 'JosefinSans-BoldItalic';
    src: url('../fonts/JosefinSans-BoldItalic.ttf')  
}
@font-face { 
    font-family: 'JosefinSans-Italic';
    src: url('../fonts/JosefinSans-Italic.ttf')      
}
@font-face { 
    font-family: 'JosefinSans-Light';
    src: url('../fonts/JosefinSans-Light.ttf')    
}
@font-face { 
    font-family: 'JosefinSans-SemiBoldItalic';
    src: url('../fonts/JosefinSans-SemiBoldItalic.ttf')  
}
@font-face { 
    font-family: 'JosefinSans-ThinItalic';
    src: url('../fonts/JosefinSans-ThinItalic.ttf')
}
@font-face { 
    font-family: 'JosefinSans-Bold';
    src: url('../fonts/JosefinSans-Bold.ttf')
}
@font-face { 
    font-family: 'JosefinSans-LightItalic';
    src: url('../fonts/JosefinSans-LightItalic.ttf')
}
@font-face { 
    font-family: 'JosefinSans-Regular';
    src: url('../fonts/JosefinSans-Regular.ttf')
}
@font-face { 
    font-family: 'JosefinSans-SemiBold';
    src: url('../fonts/JosefinSans-SemiBold.ttf')
}
@font-face { 
    font-family: 'JosefinSans-Thin';
    src: url('../fonts/JosefinSans-Thin.ttf')
}

/*=========================
  ===== Canvas Styles =====
  =========================*/

#canvas, #gameboard, body{
    margin: 0;
    border: 0;
    padding: 0;
}